<!-- create new service form -->
<div style='width: 50%;'>
<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
        <% service.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :service_offered %>
    <%= form.text_field :service_offered, class:"form-control"%>
  </div>

  <div class="field form-group">
    <%= form.label :category %>
    <%= form.select :category, @category, class:"form-control"%>
  </div>

  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :hourly_rate %>
    <%= form.text_field :hourly_rate, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :calendly_url %>
    <%= form.text_area :calendly_url, class:"form-control" %>
  </div>
  
   <div class="field form-group">
    <%= form.label :picture %>
    <%= form.file_field :picture, accept:'image/png,image/gif,image/jpeg,image/jpg' %>
  </div>

  <div class="actions">
    <%= form.submit class:'btn btn-primary'%>
  </div>
<% end %>
</div>
