<p>
  <strong>Service offered:</strong>
  <%= @service.service_offered %>
</p>
<div class="container">
  <div class="row">
    <div class="col">
    <%= image_tag @service.picture, class:'rounded float-left', width: 250 if @service.picture.attached? %>
    </div>
  <div class="col">
<p>
  <strong>Category:</strong>
  <%= @service.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Hourly rate:</strong>
  <%= number_to_currency @service.hourly_rate %> per hour
</p>
<!-- check user is signed in will show calender to enable booking -->
<p>
<% if user_signed_in? %>
  <strong>Schedule Booking:</strong>
  <!-- Calendly inline widget begin -->
  <div class="calendly-inline-widget" data-url="<%= @service.calendly_url %>?primary_color=02fff00" style="min-width:320px;height:630px;"></div>
  <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
  <!-- Calendly inline widget end -->
<% else %>
  <%= link_to "Sign-in to book!", new_user_registration_path, class:"btn btn-dark" %>
<% end %>
</p>

<!-- if business owner of service they will be able to edit the listing -->
<% if user_signed_in? && current_user.business == @service.business %>
<%= link_to 'Edit', edit_service_path(@service) %> |
<%end%>
<%= link_to 'Back', :back %>
</div>
</div>
<!-- Javascript picks up the event of the calender booking to the send straight to chackout once selected time -->
<script>
window.addEventListener("message", receiveMessage);

function receiveMessage(event) {
  console.log(event)
  if(event.data.event == "calendly.event_scheduled") {
    window.location.replace("/orders?service_id=<%= @service.id %>")
  }
  
}
</script>