<p id="notice"><%= notice %></p>

<p>
  <strong>Business name:</strong>
  <%= @business.business_name %>
</p>

<p>
  <strong>Service region:</strong>
  <%= @business.service_region %>
</p>

<div class="card_business">
<% @business.services.each do |service|%>
<p><%= service.service_offered %></p>
<%= link_to 'Show', service %>|
<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', :back %>
<%end%>
<div>
</div>
<br>
<br>
<br>
<div>
<button>
<%= link_to 'Create New Service', new_service_path %>
</button>
</div>
</div>


