<h1 class="list-item"> Your order
</h1>
<table>
<thead> <tr>
     <th>Service</th>
     <th>Description</th>
     <th>Hourly Rate</th>
   </tr>
 </thead>
<tbody> <tr>
<td><%= @service.service_offered %></td>
<td><%= @service.description %></td>
<td><%= number_to_currency @service.hourly_rate %></td>
   </tr>
 </tbody>
</table>
<button id="pay-now">Checkout now</button>

<script src="https://js.stripe.com/v3/"></script>
<script>
 document
   .querySelector("[id='pay-now']")
   .addEventListener("click", () => {
     const stripe = Stripe(
       "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
     );

     stripe.redirectToCheckout({
       sessionId: "<%= @session.id %>"
     });
   });
</script>