<div class="container">
   <h1>Your Local Services Book</h1> 
</div>
<!-- Section: cards for categories -->
<section>
  <div class="card"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg">

    <button>
        <%= link_to 'Trades', services_category_path(0), class:"btn btn-light" %>
    </button>
  </div>
  <div class="card"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg">
    <button>
        <%= link_to 'Entertainment', services_category_path(1), class:"btn btn-light" %>
    </button>
  </div>
  <div class="card"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg">
    <button>
        <%= link_to 'Professional Services', services_category_path(2), class:"btn btn-light" %>
    </button>
  </div>
  <div class="card"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg">
    <button>
        <%= link_to 'Health and Fitness', services_category_path(3), class:"btn btn-light" %>
    </button>
  </div>
  <div class="card"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg">
    <button>
        <%= link_to 'Carparking', services_category_path(4), class:"btn btn-light" %>
    </button>
  </div>
  <div class="card"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg">
    <button>
        <%= link_to 'Hire and Rentals', services_category_path(5), class:"btn btn-light" %>
    </button>
  </div>
</section>

