<!-- heading -->
<div class="container">
   <h1>Your Local Services Book</h1> 
</div>
<!-- Section: cards for categories -->
<section>
<div class="card bg-dark text-white" style='height: 100%;'>
  <%=image_tag "tradie.jpg", class:"card-img"%> 
  <div class="card-img-overlay">
    <h5 class="card-title"><%= link_to 'Trades', services_category_path(0), class:"btn btn-light" %></h5>
  </div>
</div>
<div class="card bg-dark text-white" style='height: 100%;'>
  <%=image_tag "entertainer.jpg", class:"card-img"%> 
  <div class="card-img-overlay">
    <h5 class="card-title"><%= link_to 'Entertainment', services_category_path(1), class:"btn btn-light" %></h5>
  </div>
</div>
<div class="card bg-dark text-white" style='height: 100%;'>
  <%=image_tag "professional.jpg", class:"card-img"%> 
  <div class="card-img-overlay">
    <h5 class="card-title"><%= link_to 'Professional Services', services_category_path(2), class:"btn btn-light" %></h5>
  </div>
</div>
<div class="card bg-dark text-white" style='height: 100%;'>
  <%=image_tag "pt.jpg", class:"card-img"%> 
  <div class="card-img-overlay">
    <h5 class="card-title"><%= link_to 'Health and Fitness', services_category_path(3), class:"btn btn-light" %></h5> 
  </div>
</div>
<div class="card bg-dark text-white" style='height: 100%;'>
  <%=image_tag "carpark.jpg", class:"card-img"%> 
  <div class="card-img-overlay">
    <h5 class="card-title"><%= link_to 'Carparking', services_category_path(4), class:"btn btn-light" %></h5>
  </div>
</div>

<div class="card bg-dark text-white" style='height: 100%;'>
  <%=image_tag "hire.jpg", class:"card-img"%> 
  <div class="card-img-overlay">
    <h5 class="card-title"><%= link_to 'Hire and Rentals', services_category_path(5), class:"btn btn-light" %></h5>
    
  </div>
</div>

</section>

